.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px 20px 10px 20px;
  height: 160px;
  // border-bottom: 5px solid #D8C3A5;
  border-bottom: 5px solid var(--primary-color);
  color: #8E8D8A;
}

.logo {
  height: 100px;
  pointer-events: none;
}

.menuList {
    display: flex;
    width: 250px;
    padding: 0;
    color: #8E8D8A;
    list-style-type: none;
    background-color: none;
    margin: 0;
    
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .2em;
    text-transform: uppercase;

    li {
      margin: 15px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
}

.menuListFirst {
  justify-content: flex-end;
}

.menuListSecond {
  justify-content: flex-start;
}

.sideMenu,
.sideMenuList,
.shadow,
.toCenterLogo,
.logout {
  display: none;
}

@media (max-width: 800px) {
  .menuList {
    li {
      margin: 5px;
    }
  }
}


.footer {
  position: absolute;
  // margin-top: 30px;
  padding: 20px;
  height: 100px;
  width: 100%;
  background-color: #D8C3A5;
  bottom: 0;
  z-index: 1;

  .socialMedia {
    width: 27px;
    margin: 5px;
  }
}


@media (max-width: 600px) {
  .header {
    justify-content: space-between;
    height: 100px;
  }

  .toCenterLogo {
    display: block;
    width: 20px;
  }

  .logo {
    height: 70px;
  }

  .logout {
    display: block;
  }

  .menuListFirst, .menuListSecond {
    display: none;
  }

  .menuList {
    flex-direction: column;
    font-size: 1.5em;
    // min-height: 10vh;
    font-weight: bold;
    color: #EAE7DC;
    li {
      margin: 25px;
    }
  }

  .sideMenu {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 30px 0 30px 0;
    right: 100%;
    width: 70%;
    background-color: #E98074;
    transition: 0.5s;
  }
  
  .sideMenuOpen {
    transform: translate3d(100%, 0, 0);
  }
  
  .shadow {
    z-index: 2;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 30%;
    background-color: rgb(162, 158, 175);
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .shadowOpen {
    transform: translate3d(-100%, 0, 0);
  }
}

// Confirm

.confirmContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm {
  background: var(--white-color);
  width: 80vw;
  max-width: 400px;
  border-radius: var(--radius);
  padding: 2rem 1rem;
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
}

.btn:hover {
  color: var(--dark-gray);
  background: var(--primary-light);
}

.cancelBtn,
.confirmBtn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: var(--red-dark-color);
  border: 1px solid var(--red-dark-color);
  margin-top: 2.25rem;
  border-radius: var(--radius);
}
.cancelBtn:hover {
  background: var(--red-light-color);
  color: var(--red-dark-color);
  border-color: var(--red-light-color);
}
.confirmBtn {
  border-color: var(--primary-color);
  color: var(--dark-gray);
}